/* COLORS */
$custom-colors: (
    "orenpalette": #EEA144,
    "putihpalette": #F3F9E3,
    "ijopalette": #566E3D,
    "birupalette": #011638,
    "abupalette": #364156,
    "pinkcategory": #F8C8DC,
    "merahtuacategory": #CD4361,
    "birucategory": #99D8F0,
    "coklatcategory": #D29375,
    "ijocategory": #9CBA7F,
    "merahcategory": #E86060,
    "orenyedija": #E46504
);

@each $name, $color in $custom-colors {
  :root {
    --#{$name}: #{$color};
  }
  .bg-#{$name} {
    background-color: $color !important;
  }
  .text-#{$name} {
    color: $color !important;
  }
  .border-#{$name} {
    border-color: $color !important;
  }
  .gradient-#{$name} {
    background-image: linear-gradient(to right, #{$color} 0%, #{$color} 100%);
  }
}

/* FONT SIZE utilities ala TailwindCSS */
.text-xxs { font-size: 0.625rem !important; }
.text-xs { font-size: 0.75rem !important; }
.text-sm { font-size: 0.875rem !important; }
.text-base { font-size: 1rem !important; }
.text-lg { font-size: 1.125rem !important; }
.text-xl { font-size: 1.25rem !important; }
.text-2xl { font-size: 1.5rem !important; }
.text-3xl { font-size: 1.875rem !important; }
.text-4xl { font-size: 2.25rem !important; }
.text-5xl { font-size: 3rem !important; }
.text-6xl { font-size: 3.75rem !important; }
.text-7xl { font-size: 4.5rem !important; }
.text-8xl { font-size: 6rem !important; }
.text-9xl { font-size: 8rem !important; }

/* TYPOGRAPHY */
.poppins-light {
  font-family: "Poppins", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

.poppins-regular {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.poppins-medium {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
  font-style: normal !important;
}

.poppins-bold {
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.nunito-light {
  font-family: "Nunito", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

.nunito-regular {
  font-family: "Nunito", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.nunito-medium {
  font-family: "Nunito", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.nunito-semibold {
  font-family: "Nunito", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 600 !important;
  font-style: normal !important;
}

.nunito-bold {
  font-family: "Nunito", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.nunito-extrabold {
  font-family: "Nunito", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 800 !important;
  font-style: normal !important;
}

.montserrat-light {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.montserrat-semibold {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 600 !important;
  font-style: normal !important;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

/* BUTTONS */
.btn-dark-blue {
  color: #F3F9E3 !important;
  text-decoration: none !important;
  background-color: #011638 !important;
  border: none !important;
  transition: all 0.4s ease-in-out !important;
}

.btn-dark-blue:hover {
  background-color: #566E3D !important;
}

.btn-orange {
  color: #000000 !important;
  text-decoration: none !important;
  background-color: #EEA144 !important;
  border: none !important;
  transition: all 0.4s ease-in-out !important;
}

.btn-orange:hover {
  background-color: #F3F9E3 !important; 
}

.btn-orange-gelap{
  background-color: #E46504 !important;
}

.btn-orange-gelap:hover{
  background-color: #ab4a00 !important;
  transform: scale(0.98);
}

/* CATEGORY HOVER */
.category-btn {
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left;
  transition: background-size 0.5s ease-in-out;
}

.category-title {
  transition: color 0.5s ease-in-out;
}

.category-line {
  transition: all 0.5s ease-in-out;
  width: 50%;
}

.category-btn:hover, 
.category-btn.active {
  background-size: 100% 100%; 
}

.category-btn:hover .category-title,
.category-btn.active .category-title {
  color: white;
}

.category-btn:hover .category-line,
.category-btn.active .category-line  {
  width: 90%;
  border-color: white;
}

/* OTHERS CLASS UNIVERSAL */

// Wishlist
.color-box-wishlist {
    width: 1.25vw;
    height: 1.25vw;
    display: inline-block;  /* atau block, supaya ukuran dipakai */
}

// Back Button
.BackButton {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  margin: 1rem !important; 
  width: 40px;
  cursor: pointer;
}

// untuk back button tapi versi ie kanan
.rotate-180{
  transform: rotate(180deg);
}

/* cuma buat sizing si pensil di tombol button Edit */
.pencil-icon{
  width: 3.5vw;
  height: 3.5vh;
}

// Line pembatas bulan tahun dan tanggal
.calendar-line {
  border-bottom: 2px solid #fff;
}
