@import 'bootstrap/dist/css/bootstrap.min.css';

/* tambahan ukuran bootstrap */
.pt-7 {
  padding-top: 7.5rem; 
}

/* footer */
.footer-hometory {
  width: 22vw;
  height: auto;
  padding-top: 2vh;
}

.footer-navbar{
  margin: 3vw;
  display: flex;
  justify-content: center;
  gap: 3.8vw;
  font-size: 1vw;
}

.footer-navbar a{
  text-decoration: none;
  color: white;
}

.footer-navbar a:hover{
  text-decoration: none;
  color: #FD7034;
}

.footer-icon{
  display: flex;
  justify-content: center;
  gap: 2.5vw;
}

.footer-p{
  color: white;
  margin: 2.5vw;
  font-size: 1vw;
}

/* header dan navbar */
.div-header{
  display: flex;
  padding-inline: 3vw;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1000;
  background-color: white;
  top: 4vh;
}

.navlink-a{
  text-decoration: none;
  color: black;
  font-size: 1vw;
  transition: color 0.3s, border-bottom 1s ease-out;
  border: 0.5vh solid transparent;
  box-sizing: border-box;
  padding: 1vh ;
}

.navlink-a:hover{
  color: #E46504;
}

.navlink-a.active{
  color: #E46504;
  border-bottom: solid#E46504;
}

.navbar-tengah{
  text-decoration: none;
  color: black;
  display: flex;
  gap: 2vw;
}

.navbar-logo{
  height: 4vh; 
  display: flex;
  justify-content: flex-start;
  margin-top: 1.7vh;
  margin-bottom: 1.7vh;
}

.navbar-login{
  display: inline-flex;
  gap: 0.5vw;
  border: 0.15vw solid black;
  padding: 0.7vh 0.8vw;
  border-radius: 50vh;
  font-weight: bold;
  font-size: small;
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.navbar-login:hover{
  border: 0.15vw solid #E46504;
  color: #E46504;
}


